<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="d-flex justify-content-around">
        <form action="/edit_recipes" method="post" class="col-4 p-4 bg-dark text-light">
            <input type="hidden" name="user_id" value="{{session.user_id}}">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <h2 class="text-primary">Edit Your Recipe</h2>
            {% with messages = get_flashed_messages()%}
                {% if messages %}
                <div class="alert alert-danger" role="alert">
                    <strong>Keep in mind Flash is working!</strong>
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" value="{{recipe.name}}">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" name="description" class="form-control" value="{{recipe.description}}">
            </div>
            <div class="form-group">
                <label for="instructions">Instruction:</label>
                <input type="text" name="instructions" class="form-control" value="{{recipe.instructions}}">
            </div>
            <div class="form-group">
                <label for="date_made">Date Made:</label>
                <input type="date" name="date_made" class="form-control"value="{{recipe.date_made}}">
            </div>
            <div class="form-group">
                    <label for="under_30">Can this dish be cooked in under 30 minutes</label>
                    <label for="Yes">Yes</label><br>
                    <input type="radio" id="html" name="under_30" value="1">
                    <label for="css">No</label><br>
                    <input type="radio" id="css" name="under_30" value="0">
            </div>
            <input type="submit" value="Edit" class="btn btn-primary">
        </form>

    </div>
    
</body>
</html>